---
import MegaNavi from "./MegaNavi.astro";
---

<header class="header">
  <MegaNavi />
  <a href="/" class="brand">
    <img
      src="./assets/images/logo-las-condes-big.png"
      alt="Logo Municipalidad"
    />
  </a>
</header>

<style lang="scss">
  .brand {
    width: 12em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
