---
interface Props {
  title: string;
  description?: string;
}
const { title, description } = Astro.props;
---

<div class="mega-block">
  <div class="mega-block__info">
    <h3 class="mega-block__title">{title}</h3>
    <p>{description}</p>
  </div>
  <div class="mega-block__items">
    <a href="" class="mega-block__item">item 1</a>
    <a href="" class="mega-block__item">item 2</a>
    <a href="" class="mega-block__item">item 3</a>
    <a href="" class="mega-block__item">item 4</a>
    <a href="" class="mega-block__item">item 5</a>
    <a href="" class="mega-block__item">item 6</a>
    <a href="" class="mega-block__item">item 7</a>
    <a href="" class="mega-block__item">item 8</a>
    <a href="" class="mega-block__item">item 9</a>
    <a href="" class="mega-block__item">item 10</a>
    <a href="" class="mega-block__item">item 11</a>
    <a href="" class="mega-block__item">item 12</a>
  </div>
</div>
<style lang="scss">
  .mega-block {
    display: none;

    &__title {
      margin-top: 0;
      font-size: 2rem;
      font-weight: 700;
    }
    &__info {
      flex: 1;
      display: flex;
      flex-flow: column wrap;
    }
    &__items {
      display: flex;
      flex: 2;
      flex-flow: row wrap;
      gap: 1em;
    }
    &__item {
      color: black;
      text-decoration: none;
      text-align: center;
      display: flex;
      flex-grow: 1;
      border-bottom: 1px solid #202020;
      width: 200px;
    }
  }
  .block-open {
    background-color: yellow;
    color: black;
    position: absolute;
    top: 2rem;
    left: 0;
    height: auto;
    padding: 4em;
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
  }
</style>
