---
import MainLayout from "../layouts/MainLayout.astro";
import HomeSlider from "../components/Home.Slider.astro"
---

<MainLayout title="Bienvenidos a la Municipalidad">
    <main>
        <HomeSlider />
    </main>
</MainLayout>