---
import HomeSliderComponent from "./HomeSliderComponent.astro";
import diapo1 from "../slider/diapo1.jpg"

---

<section class="home-slider">
<HomeSliderComponent 
    imageURL={diapo1}
    imageAlt="Descripción de la imagen acá"
    sliderTitle="Este fin de semana largo ecarga tu local"
    tag="Nuevo Programa de Seguridad"
    cta="Infórmate aquí"
/>

<HomeSliderComponent 
    imageURL={diapo1}
    imageAlt="Descripción de la imagen acá"
    sliderTitle="Este fin de semana largo ecarga tu local"
    tag="Nuevo Programa de Seguridad"
    cta="Infórmate aquí"
/>

<HomeSliderComponent 
    imageURL={diapo1}
    imageAlt="Descripción de la imagen acá"
    sliderTitle="Este fin de semana largo ecarga tu local"
    tag="Nuevo Programa de Seguridad"
    cta="Infórmate aquí"
/>

<HomeSliderComponent 
    imageURL={diapo1}
    imageAlt="Descripción de la imagen acá"
    sliderTitle="Este fin de semana largo ecarga tu local"
    tag="Nuevo Programa de Seguridad"
    cta="Infórmate aquí"
/>
</section>

<style lang="scss">
    .home-slider {
        width: 100%;
        height: 70vh;
        padding: 2em;
        background-color: rebeccapurple;
    }
</style>